.home-nav-container {
  background-color: $primary-color;
  width: 100vw;
  @include flex-column-center;
  padding: 20px;
  img {
    height: 90px;
  }
  h1 {
    font-family: $primary-font;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.4rem;
    font-weight: 100;
    text-align: center;
  }
  div {
    @include flex-column-center;
  }
}
