.main-container {
  width: 100vw;
  min-height: 200px;
  background-color: $background-color;
  @include flex-column-center;
  justify-content: flex-start;
  padding: 30px 50px 0px 50px;
}

.main-content-container {
  max-width: 1200px;
  width: 100%;
  min-height: 100px;
  @include flex-column-center;
  justify-content: flex-start;
  color: $font-color-primary;
}
