.word-page-title {
  margin: 0 0 5px;
  color: #333;
  font-size: 28px;
  font-weight: 700;
  word-break: break-word;
  text-transform: capitalize;
}

.word-page-pargraph {
  margin: 20px 0px;
}

.word-page-image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border: 3px solid $secondary-border;
  margin-bottom: 20px;
}
